.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.records {
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.record {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: #376cbf; /* fallback for old browsers */
}
.record > span {
    align-self: center;
    width: 50%;
}
