.about {
    justify-content: space-between;
    flex-wrap: wrap;
}
.records {
    flex-direction: column;
}
.record {
    border-bottom: 1px solid var(--color-text);
    padding: 5px;
    border-radius: 10px;
}
.place {
    font-size: 23px;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}