$dark-bg:#2b2b2b;


html[data-theme="light"] {
    --color-text: $dark-bg;
    --color-background:white;
    --dark-bg:white;
}

html[data-theme="dark"] {
    --color-text: white;
    --color-background: $dark-bg;
    --dark-bg:white;
}